<div class="header bg-gradient-default pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">

      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--8">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">{{pageTitle|titlecase}}</h3>
            </div>
            <div class="col text-right" *ngIf="permission('read')">
              <a href="/interior/interior-list" class="btn btn-sm btn-default text-white">
                <i class="fa fa-list mr-2"></i>Information List
              </a>
            </div>
          </div>
        </div>
        <div class="card-body border-0" *ngIf="permission('read')">
          <div class="row">
            <div class="col-md-12">
              <nz-tabset [nzTabPosition]="position">
                <nz-tab  nzTitle="Information">
                  <ng-template nz-tab>
                    <app-interior-information></app-interior-information>
                  </ng-template>
                </nz-tab>
                <nz-tab  nzTitle="What We Provide">
                  <ng-template nz-tab>
                    <app-what-we-provide></app-what-we-provide>
                  </ng-template>
                </nz-tab>
                <nz-tab  nzTitle="Gallery Image">
                  <ng-template nz-tab>
                     <app-interior-gallery></app-interior-gallery>
                  </ng-template>
                </nz-tab>
                <nz-tab  nzTitle="Just a call away">
                  <ng-template nz-tab>
                    <app-just-a-call></app-just-a-call>
                  </ng-template>
                </nz-tab>
                <nz-tab  nzTitle="FAQ">
                  <ng-template nz-tab>
                    <app-interior-faq></app-interior-faq>
                  </ng-template>
                </nz-tab>
              </nz-tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
