<div class="header bg-gradient-default pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
       
      </div>
    </div>
  </div>
</div>
<!-- Page content -->

<div class="container-fluid mt--8">
  <div *ngIf="pageBuffer" class="loader"></div>
  <!-- Table -->
  <div class="row">
    <div class="col">
    
      <div class="card shadow">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Transfer List</h3>
            </div>
          </div>
        </div>


        <div class="card-body border-0" *ngIf="permission('read')">
          <div class="row"> 
            <div class="col-md-3">
              <button *ngIf="checked_all_count > 0" (click)="approveTransfer()" nzDanger nz-button nzType="primary">
                <i class="ni ni-check-bold mr-1"></i>
                 Approve Transferred Lead
              </button>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
              <nz-form-item>
                <nz-form-control>
                  <nz-range-picker [nzRanges]="ranges" nzFormat="yyyy/MM/dd" [(ngModel)]="date" class="w-100" (ngModelChange)="onChangeDateRange($event)"></nz-range-picker>
                </nz-form-control>
              </nz-form-item>
            </div> 
            <div class="col-md-3">
              <input  nz-input  placeholder="Search..." type="text" [(ngModel)]="searchValues" (ngModelChange)="filter($event)">
            </div>
          </div>
          <div class="row"> 
            <div class="col-md-12">
              <div class="table-responsive" >
                <table class="table table-hover table-sm  table--darker">
                  <thead>
                    <tr>
                      <th width="40px">
                        <label nz-checkbox [(ngModel)]="checked_all" (ngModelChange)="clickCheckedAll($event)"> </label> All 
                      </th>
                      <th class="m-width-100"> 
                        Lead ID
                      </th>
                      <th class="m-width-200">CLIENT</th>
                      <th class="m-width-200">Task</th>
                      <th class="m-width-150">STAGE & status</th>
                      <th class="m-width-150">Classify & source</th>
                      <th class="m-width-200">Allocated</th>
                      <th class="m-width-150">INTEREST</th>
                      <th class="m-width-200">CREATE DATE</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="dataNotFound =='';else notFound">
                      <ng-container *ngFor="let leads of collection| paginate: {
                        currentPage: pagereqest,
                        itemsPerPage: itemPerPage,
                        totalItems: totalrow
                        } ; index as i;">
                        <tr>
                          <td class="align-middle">
                            <label nz-checkbox [(ngModel)]="leads.checked" [name]="checkbox_+i" (ngModelChange)="singleChecked($event)"> </label> 
                          </td>
                          <td class="align-middle">
                            <a (click)="leadsStage(leads.id)">
                              <i class="fa fa-thermometer-half mr-1"  [ngStyle]="{'color':leads.opportunity.classification?leads.opportunity.classification.color:''}"></i>
                              <strong class="">{{leadNoGenerate(leads.id)}}</strong> 
                            </a>
                          </td>
                          <td class="align-middle">
                            <a (click)="clientDetail(leads.id)">
                              <small> 
                                <strong>
                                  <i class="ni ni-single-02 mr-1"></i>
                                  {{leads.information.full_name}}
                                </strong>
                              </small>
                            </a><br>
                            <small>
                              <i class="fa fa-phone mr-1"></i>
                              {{leads.information.phone_code?leads.information.phone_code.phoneCode:''}} {{leads.information.phone_no}}
                            </small>
                          </td>
                          <td class="align-middle">
                            <small>
                              <strong>
                                <i class="ni ni-time-alarm mr-1"></i>  
                                {{leads.current_task?leads.current_task.step:'New Lead'}}
                              </strong>
                            </small><br>
                            <small>
                              <i class="ni ni-calendar-grid-58 mr-1"></i> 
                              {{leads.tasks?(leads.tasks.created_at|date:'short'):''}}
                            </small>
                          </td>
                          <td class="align-middle">
                            <small>
                              <strong>
                                <i class="ni ni-sound-wave mr-1"></i>
                                {{leads.next_tasks}}
                              </strong>
                            </small><br>
                            <small *ngIf="leads.lead_details">
                              <i class="ni ni-spaceship mr-1"></i>
                              {{leads.lead_details.construction_status?leads.lead_details.construction_status.lead_status:''}}
                            </small>
                          </td>
                          <td class="align-middle">
                            <small>
                            <strong>
                             {{leads.opportunity.classification?leads.opportunity.classification.classification:''}}
                            </strong>
                           </small><br>
                            <small><i class="ni ni-world mr-1"></i>{{leads.opportunity.source?leads.opportunity.source.source:''}}</small>
                          </td>
                          <td class="align-middle">
                            <small *ngIf="leads.tasks.previous_task">
                              <a (click)="userDetails(leads.tasks.previous_task.allocated_to)"><i class="ni ni-single-02 mr-1 text-danger"></i> Form: {{leads.tasks.previous_task.pre_allocate_name?leads.tasks.previous_task.pre_allocate_name.name:''}}</a>
                           </small><br>
                            <small >
                              <a (click)="userDetails(leads.tasks.allocated_to)"><i class="ni ni-single-02 mr-1 text-info"></i> To: {{leads.tasks.allocate?leads.tasks.allocate.name:''}}</a>
                              </small>
                          </td>
                          <td class="align-middle">
                            <small>
                              <strong>{{leads.opportunity.project_info?leads.opportunity.project_info.project_name:''}}
                              </strong>
                            </small><br>
                            <small><i class="ni ni-zoom-split-in mr-1"></i> {{leads.information.buying_intent?leads.information.buying_intent.buying_intent:''}}</small>
                          </td> 
                          <td class="align-middle">
                            <small><strong>
                              <i class="ni ni-calendar-grid-58 mr-1"></i>
                              {{leads.tasks?(leads.created_at|date:'short'):''}}</strong>
                            </small><br>
                            <small>
                              <i class="ni ni-single-02 mr-1"></i>
                              By : {{leads.created_by?leads.created_by.name:''}}
                            </small>
                          </td>
                          <td class="align-middle text-center">
                            <a nz-button nzType="primary" nzSize="small"  (click)="detailsModel(leads)" placement="top" ngbTooltip="Details" ><i class="ni ni-book-bookmark font-12 text-white"></i></a>
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>
                    <ng-template  #notFound>
                      <tr>
                        <td colspan="9" class="text-danger text-center">{{dataNotFound}}...</td>
                      </tr>
                    </ng-template>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        <div class="card-footer">
          <mat-paginator 
          [length]="totalrow" 
          [pageSize]="itemPerPage" 
          [pageSizeOptions]="pageSizeOptions" 
          (page)="pageEvent($event)">
        </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
