<div class="header bg-gradient-default pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">

            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--8">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Loan Apply List</h3>
                        </div>
                        <!-- <div class="col text-right" *ngIf="permission('create')">
                            <a (click)="createModel()" class="btn btn-sm btn-default text-white">
                                <i class="fa fa-plus mr-2"></i>Add Loan Bank
                            </a>
                        </div> -->
                    </div>
                </div>
                <div class="card-body border-0" *ngIf="permission('read')">
                    <input nz-input placeholder="Search..." type="text" [(ngModel)]="searchValues"
                        (ngModelChange)="filter($event)">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-sm  table--darker">
                            <thead>
                                <tr>
                                    <th class="text-center" (click)="sort('id')">
                                        <i *ngIf="sortColumn==='id' && dataOrderBy"
                                            class="fas fa-arrow-up text-danger"></i>
                                        <i *ngIf="sortColumn==='id' && !dataOrderBy"
                                            class="fas fa-arrow-down text-danger"></i>
                                        SL
                                    </th>
                                    <th class="text-center">
                                        User Name
                                    </th>
                                    <th class="text-center">
                                        Property
                                    </th>
                                    <th class="text-center">
                                        Contact Information
                                    </th>
                                    <th class="text-center" (click)="sort('created_at')">
                                        <i *ngIf="sortColumn==='created_at' && dataOrderBy"
                                            class="fas fa-arrow-up text-danger"></i>
                                        <i *ngIf="sortColumn==='created_at' && !dataOrderBy"
                                            class="fas fa-arrow-down text-danger"></i>
                                        Create Date
                                    </th>
                                    <th class="text-center" (click)="sort('status')">
                                        <i *ngIf="sortColumn==='status' && dataOrderBy"
                                            class="fas fa-arrow-up text-danger"></i>
                                        <i *ngIf="sortColumn==='status' && !dataOrderBy"
                                            class="fas fa-arrow-down text-danger"></i>
                                        Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="collection.length > 0;else notFound">
                                    <tr *ngFor="let applyLoan of collection| paginate: {
                                                                        currentPage: pageNumber,
                                                                        itemsPerPage: itemPerPage,
                                                                        totalItems: totalrow
                                                                        } ; index as i;">
                                        <td class="text-center align-middle">{{getSL(i+1)}}</td>
                                        <td class="text-center align-middle">
                                            {{applyLoan?.username}}
                                        </td>
                                        <td class="text-center align-middle" width="20%">
                                            <span *ngIf="applyLoan?.sale_property">
                                                {{applyLoan?.sale_property?.title}}
                                            </span>
                                            <span *ngIf="applyLoan?.land_sale_property">
                                                {{applyLoan?.land_sale_property?.title}}
                                            </span>
                                            <span *ngIf="applyLoan?.rent_property">
                                                {{applyLoan?.rent_property?.title}}
                                            </span>
                                        </td>
                                        <td class="text-center align-middle">
                                            <p class="badge badge-success mr-1">
                                                {{applyLoan?.phone}}
                                            </p>
                                            <p class="badge badge-info">
                                                {{applyLoan?.email}}
                                            </p>
                                        </td>
                                        <td class="text-center align-middle">{{applyLoan.created_at|date}}</td>
                                        <td class="text-center align-middle">
                                            <p *ngIf="applyLoan.status == 1"
                                                class="badge status_btn text-wrap mb-0 badge-info">
                                                Pending
                                            </p>
                                            <p *ngIf="applyLoan.status == 2"
                                                class="badge status_btn text-wrap mb-0 badge-success">
                                                Approved
                                            </p>
                                            <p *ngIf="applyLoan.status == 3"
                                                class="badge status_btn text-wrap mb-0 badge-danger">
                                                Rejected
                                            </p>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-template #notFound>
                                    <tr>
                                        <td colspan="9" class="text-danger text-center">Data not found...</td>
                                    </tr>
                                </ng-template>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <mat-paginator [length]="totalrow" [pageSize]="itemPerPage" [pageSizeOptions]="pageSizeOptions"
                        (page)="pageEvent($event)">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>