<div class="card shadow">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="mb-0">PRODUCT TYPE</h3>
      </div>
      <div class="col text-right" *ngIf="permission('create')">
        <a (click)="createModel()" class="btn btn-sm btn-default text-white">
          <i class="fa fa-plus mr-2"></i>Add Product Type
        </a>
      </div>
    </div>
  </div>
  <div class="card-body border-0" *ngIf="permission('read')">
    <input  nz-input  placeholder="Search..." type="text" [(ngModel)]="searchValues" (ngModelChange)="filter($event)">
    <div class="table-responsive" >
      <table class="table table-hover table-bordered table-sm  table--darker">
        <thead>
          <tr>
            <th class="text-center" (click)="sort('id')">
              <i *ngIf="sortColumn==='id' && dataOrderBy" class="fas fa-arrow-up text-danger"></i>
              <i *ngIf="sortColumn==='id' && !dataOrderBy" class="fas fa-arrow-down text-danger"></i>
              SL
            </th>
            <th class="text-center" (click)="sort('name')">
              <i *ngIf="sortColumn==='name' && dataOrderBy" class="fas fa-arrow-up text-danger"></i>
              <i *ngIf="sortColumn==='name' && !dataOrderBy" class="fas fa-arrow-down text-danger"></i>
              Product Type
            </th>
            <th class="text-center" (click)="sort('product_category')">
              <i *ngIf="sortColumn==='product_category' && dataOrderBy" class="fas fa-arrow-up text-danger"></i>
              <i *ngIf="sortColumn==='product_category' && !dataOrderBy" class="fas fa-arrow-down text-danger"></i>
              Product Category
            </th>
            <th class="text-center" (click)="sort('type_option')">
              <i *ngIf="sortColumn==='type_option' && dataOrderBy" class="fas fa-arrow-up text-danger"></i>
              <i *ngIf="sortColumn==='type_option' && !dataOrderBy" class="fas fa-arrow-down text-danger"></i>
              Type Option
            </th>
            <th class="text-center" (click)="sort('create_by')">
              <i *ngIf="sortColumn==='create_by' && dataOrderBy" class="fas fa-arrow-up text-danger"></i>
              <i *ngIf="sortColumn==='create_by' && !dataOrderBy" class="fas fa-arrow-down text-danger"></i>
              Create By
            </th>
            <th class="text-center" (click)="sort('created_at')">
              <i *ngIf="sortColumn==='created_at' && dataOrderBy" class="fas fa-arrow-up text-danger"></i>
              <i *ngIf="sortColumn==='created_at' && !dataOrderBy" class="fas fa-arrow-down text-danger"></i>
              Create Date
            </th>
             <th class="text-center" (click)="sort('update_by')">
              <i *ngIf="sortColumn==='update_by' && dataOrderBy" class="fas fa-arrow-up text-danger"></i>
              <i *ngIf="sortColumn==='update_by' && !dataOrderBy" class="fas fa-arrow-down text-danger"></i>
              Update By
            </th>
            <th class="text-center" (click)="sort('updated_at')">
              <i *ngIf="sortColumn==='updated_at' && dataOrderBy" class="fas fa-arrow-up text-danger"></i>
              <i *ngIf="sortColumn==='updated_at' && !dataOrderBy" class="fas fa-arrow-down text-danger"></i>
              Update Date
            </th>
            <th class="text-center" (click)="sort('status')">
              <i *ngIf="sortColumn==='status' && dataOrderBy" class="fas fa-arrow-up text-danger"></i>
              <i *ngIf="sortColumn==='status' && !dataOrderBy" class="fas fa-arrow-down text-danger"></i>
              Status
            </th>
            <th class="text-center" *ngIf="permission('update') || permission('delete')">Action</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="collection.length>0;else notFound">
            <tr *ngFor="let data of collection| paginate: {
              currentPage: pageNumber,
              itemsPerPage: itemPerPage,
              totalItems: totalrow
              } ; index as i;">
              <td class="text-center align-middle">{{getSL(i+1)}}</td>
              <td class="text-center align-middle" width="20%">{{data.name}}</td>
              <td class="text-center align-middle text-capitalize" width="20%">{{data.product_category}}</td>
              <td class="text-center align-middle">{{data.type_option|titlecase}}</td>
              <td class="text-center align-middle">{{data.created_by?data.created_by.name:''}}</td>
              <td class="text-center align-middle">{{data.created_at|date}}</td>
              <td class="text-center align-middle"><span *ngIf="data.update_by">{{data.updated_by?data.updated_by.name:''}}</span></td>
              <td class="text-center align-middle"><span *ngIf="data.update_by">{{data.updated_at|date}}</span></td>
              <td class="text-center align-middle">
                <p class="badge status_btn text-wrap mb-0 {{data.status == '1' ? 'badge-success' : 'badge-danger'}}">{{ (data.status == '1' ? 'Active' : 'Inactive')}}</p>
              </td>
              <td class="text-center align-middle" *ngIf="permission('update') || permission('delete')">
                <a *ngIf="permission('update')" (click)="openEditModel(data)" class="mr-3" placement="top" ngbTooltip="Edit"><i class="fas fa-edit text-primary"></i></a>
                <a *ngIf="permission('delete')" (click)="deleteModel(data)" placement="top" ngbTooltip="Delete" ><i class="fas fa-trash text-danger"></i></a>
              </td>
            </tr>
          </ng-container>
          <ng-template  #notFound>
            <tr>
              <td colspan="9" class="text-danger text-center">Data Not Found...</td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <mat-paginator
      [length]="totalrow"
      [pageSize]="itemPerPage"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent($event)">
    </mat-paginator>
  </div>
</div>
