.card-header img {
    height: 130px;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after
{
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 8 8\'%3E%3Cpath fill=\'%23fff\' d=\'M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z\'/%3E%3C/svg%3E');
}
.btn-primary {
    color: #fff;
    background-color: #172b4d;
    border-color: #172b4d;
}
.btn-primary:hover {
    color: #fff;
    background-color: #172b4d;
    border-color: #172b4d;
}
.btn-primary:focus {
    color: #fff;
    background-color: #172b4d;
    border-color: #172b4d;
}
.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #3b485f;
    border-color: #3b485f;
}