<div class="card shadow">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="mb-0">Area Manage</h3>
      </div>
      <div class="col text-right" >
        <a (click)="createModel()" class="btn btn-sm btn-default text-white">
          <i class="fa fa-plus mr-2"></i>Add Area
        </a>
      </div>
    </div>
  </div>
  <div class="card-body border-0" >
    <input  nz-input  placeholder="Search..." type="text" [(ngModel)]="searchValues" (ngModelChange)="filter($event)">
    <div class="table-responsive" >
      <table class="table table-hover table-bordered table-sm  table--darker">
        <thead>
          <tr>
            <th class="text-center" (click)="sort('id')">
              <i *ngIf="sortColumn==='id' && dataOrderBy" class="fas fa-arrow-up text-danger"></i>
              <i *ngIf="sortColumn==='id' && !dataOrderBy" class="fas fa-arrow-down text-danger"></i>
              SL
            </th>
            <th class="text-center" (click)="sort('image')">
              <i *ngIf="sortColumn==='image' && dataOrderBy" class="fas fa-arrow-up text-danger"></i>
              <i *ngIf="sortColumn==='image' && !dataOrderBy" class="fas fa-arrow-down text-danger"></i>
              Image
            </th>
            <th class="" (click)="sort('area_name')">
              <i *ngIf="sortColumn==='area_name' && dataOrderBy" class="fas fa-arrow-up text-danger"></i>
              <i *ngIf="sortColumn==='area_name' && !dataOrderBy" class="fas fa-arrow-down text-danger"></i>
               Area Name EN
            </th>
            <th class="" (click)="sort('area_name_bn')">
              <i *ngIf="sortColumn==='area_name_bn' && dataOrderBy" class="fas fa-arrow-up text-danger"></i>
              <i *ngIf="sortColumn==='area_name_bn' && !dataOrderBy" class="fas fa-arrow-down text-danger"></i>
               Area Name BN
            </th>
            <th class="" (click)="sort('city_id')">
              <i *ngIf="sortColumn==='city_id' && dataOrderBy" class="fas fa-arrow-up text-danger"></i>
              <i *ngIf="sortColumn==='city_id' && !dataOrderBy" class="fas fa-arrow-down text-danger"></i>
              City Name
            </th>
            <th class="" (click)="sort('create_by')">
              <i *ngIf="sortColumn==='create_by' && dataOrderBy" class="fas fa-arrow-up text-danger"></i>
              <i *ngIf="sortColumn==='create_by' && !dataOrderBy" class="fas fa-arrow-down text-danger"></i>
              Create By
            </th>
             <th class="" (click)="sort('update_by')">
              <i *ngIf="sortColumn==='update_by' && dataOrderBy" class="fas fa-arrow-up text-danger"></i>
              <i *ngIf="sortColumn==='update_by' && !dataOrderBy" class="fas fa-arrow-down text-danger"></i>
              Update By
            </th>
            <th class="" (click)="sort('status')">
              <i *ngIf="sortColumn==='status' && dataOrderBy" class="fas fa-arrow-up text-danger"></i>
              <i *ngIf="sortColumn==='status' && !dataOrderBy" class="fas fa-arrow-down text-danger"></i>
              Status
            </th>
            <th class="text-center" *ngIf="permission('update') || permission('delete')">Action</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="collection.length;else notFound">
            <tr *ngFor="let data of collection| paginate: {
              currentPage: pageNumber,
              itemsPerPage: itemPerPage,
              totalItems: totalrow
              } ; index as i;">
              <td class="text-center align-middle">{{getSL(i+1)}}</td>
              <td class="text-center align-middle">
                <img height="50px" width="70px" src="{{rootUrl + data.image}}"/>
              </td>
              <td class="align-middle">{{data.area_name}}</td>
              <td class="align-middle">{{data.area_name_bn}}</td>
              <td class="align-middle">{{data.cities?data.cities.city:''}}</td>
              <td class="align-middle">
                {{data.created_by?data.created_by.name:''}}<br>
                {{data.created_at|date}}
              </td>
              <td class="align-middle">
                <span *ngIf="data.update_by">{{data.updated_by?data.updated_by.name:''}}</span>
                <br>
                <span *ngIf="data.update_by">{{data.updated_at|date}}</span>
              </td>
              <td class="align-middle">
                <p class="badge status_btn text-wrap mb-0 {{data.status == '1' ? 'badge-success' : 'badge-danger'}}">{{ (data.status == '1' ? 'Active' : 'Inactive')}}</p>
              </td>
              <td class="text-center align-middle" *ngIf="permission('update') || permission('delete')">
                <a *ngIf="permission('update')" (click)="openEditModel(data)" class="mr-3" placement="top" ngbTooltip="Edit"><i class="fas fa-edit text-primary"></i></a>
                <a *ngIf="permission('delete')" (click)="deleteModel(data)" placement="top" ngbTooltip="Delete" ><i class="fas fa-trash text-danger"></i></a>
              </td>
            </tr>
          </ng-container>
          <ng-template  #notFound>
            <tr>
              <td colspan="9" class="text-danger text-center">Data Not Found ...</td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <mat-paginator
      [length]="totalrow"
      [pageSize]="itemPerPage"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent($event)">
    </mat-paginator>
  </div>
</div>
