<div class="header bg-gradient-default pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
       
      </div>
    </div>
  </div>
</div>
<!-- Page content -->

<div class="container-fluid mt--8">
  <div *ngIf="pageBuffer" class="loader"></div>
  <!-- Table -->
  <div class="row">
    <div class="col">
    
      <div class="card shadow">
        <div class="card-header">
          <div class="row">
            <div class="col d-flex justify-content-between">
                <div class="">
                  <h3 class="mb-0">Re-Assign Lead</h3>
                </div>
                <div class="">
                    <nz-select  style="width:180px;margin-right: 5px;" [(ngModel)]="changeBranch" (ngModelChange)="onBranch($event)">
                        <nz-option *ngFor="let branch of branch_list" [nzLabel]="branch.branch_name" [nzValue]="branch.id"></nz-option>
                    </nz-select>
                    <nz-select style="width:180px;margin-right: 5px;" nzShowSearch nzAllowClear [(ngModel)]="team_id" (ngModelChange)="teamWiseMember($event)" nzPlaceHolder="Select Team">
                      <nz-option *ngFor="let team of team_list" [nzValue]="team.id" [nzLabel]="team.name"></nz-option>
                    </nz-select>
                    <nz-select style="width:180px;" nzShowSearch nzAllowClear [(ngModel)]="member_id"  (ngModelChange)="clickMemberData($event)" nzPlaceHolder="Select Member">
                      <nz-option *ngFor="let member of team_member" [nzValue]="member.systemuser_id" [nzLabel]="member?.member?.name"></nz-option>
                    </nz-select>
                </div>
            </div>
          </div>
        </div>

        <div class="card-body border-0" *ngIf="permission('read')">
          <div class="row"> 
            <div class="col-md-3">
              <button *ngIf="checked_all_count > 0" (click)="assignModel()" nzDanger nz-button nzType="primary">
                <i class="ni ni-curved-next mr-1"></i>
                Re-Assign Selected Lead
              </button>
            </div>
            <div class="col-md-3">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select an option" [(ngModel)]="reassign" class="w-100"  (ngModelChange)="onChangeReassign($event)">
                <nz-option nzLabel="All" nzValue=""></nz-option>
                <nz-option nzLabel="Reassign" nzValue="1"></nz-option>
              </nz-select>
            </div>
            <div class="col-md-3 filter-style">
              <nz-form-item>
                <nz-form-control>
                  <nz-range-picker [nzRanges]="ranges" nzFormat="yyyy/MM/dd" [(ngModel)]="date" class="w-100" (ngModelChange)="onChangeDateRange($event)"></nz-range-picker>
                </nz-form-control>
              </nz-form-item>
            </div> 
            <div class="col-md-3">
              <input  nz-input  type="text" [(ngModel)]="searchValues" (ngModelChange)="filter($event)" placement="bottom" ngbTooltip="Search by Lead Id, Name, Phone No, Project name, Budget, Max Size, Min Size, Classification, Source" placeholder="Search..">
            </div>
          </div>
          <div class="row"> 
            <div class="col-md-12">
              <div class="table-responsive" >
                <table class="table table-hover table-sm  table--darker">
                  <thead>
                    <tr>
                      <th width="40px">
                        <label nz-checkbox [(ngModel)]="checked_all" (ngModelChange)="clickCheckedAll($event)"> </label> All 
                      </th>
                      <th width="60px">Details</th>
                      <th class="m-width-100"> Lead ID</th>
                      <th class="m-width-300">CLIENT</th>
                      <th class="m-width-150">Task</th>
                      <th class="m-width-200">Lead STAGE & STATUS</th>
                      <th class="m-width-200">ALLOCATED</th>
                      <th class="m-width-200">Classify & source</th>
                      <th class="m-width-200">INTEREST</th>
                      <th class="m-width-200">CREATE DATE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="dataNotFound =='';else notFound">
                      <ng-container *ngFor="let leads of collection| paginate: {
                        currentPage: pagereqest,
                        itemsPerPage: itemPerPage,
                        totalItems: totalrow
                        } ; index as i;">
                        <tr>
                          <td class="align-middle">
                            <label nz-checkbox [(ngModel)]="leads.checked" [name]="checkbox_+i" (ngModelChange)="singleChecked($event)"> </label> 
                          </td>
                          <td class="align-middle text-center">
                            <a nz-button nzType="primary" nzSize="small"  (click)="detailsModel(leads)" placement="top" ngbTooltip="Details" ><i class="ni ni-book-bookmark font-12 text-white"></i></a>
                          </td>
                          <td class="align-middle">
                            <a (click)="leadsStage(leads.id)">
                              <i class="fa {{today > leads.tasks.allocated_date?'fa-exclamation-triangle':'fa-thermometer-half'}} mr-1"  [ngStyle]="{'color':leads.opportunity.classification?leads.opportunity.classification.color:''}"></i>
                              <strong class="">{{leadNoGenerate(leads.id)}}</strong> 
                            </a>
                          </td>
                          <td class="align-middle">
                            <a>
                              <small>
                                <strong>
                                  <i class="ni ni-single-02 mr-1"></i>
                                  {{leads.information.full_name}}
                                </strong>
                              </small>
                            </a><br>
                            <small>
                              <i class="fa fa-phone text-success"></i>
                              +{{leads.information.phone_code?leads.information.phone_code.phone_code:''}} {{leads.phone_no}} |
                              <i class="fa fa-phone text-success"></i>
                              +{{leads.information.phone_code?leads.information.phone_code.phone_code:''}} {{leads.information.phone_no}}
                            </small>
                          </td>
                          <td class="align-middle">
                            <small>
                              <strong>
                                <i class="ni ni-time-alarm mr-1"></i>
                                {{leads.current_task?leads.current_task.step:'NULL'}}
                              </strong>
                            </small><br>
                            <small>
                              <i class="ni ni-calendar-grid-58 mr-1"></i>
                              {{leads.tasks?(leads.tasks.allocated_date|date:'short'):'NULL'}}
                            </small>
                          </td>

                         <td class="align-middle">
                            <small>
                              <strong>
                                <i class="ni ni-square-pin mr-1"></i>
                                {{leads.lead_details.lead_status?leads.lead_details.lead_status.lead_status:''}}
                              </strong>
                            </small><br>
                            <small>
                              <strong>
                                <i class="ni ni-sound-wave mr-1"></i>
                                {{leads.next_tasks?leads.next_tasks:'NULL'}}
                              </strong>
                            </small>
                          </td>
                          
                          <td class="align-middle">
                            <small><strong>
                              <i class="ni ni-user-run mr-1"></i>
                              {{leads.tasks.allocate?leads.tasks.allocate.name:'Not Allocated'}}</strong>
                            </small><br>
                            <small ><i class="fa fa-users"></i>{{leads.tasks.team_name?leads.tasks.team_name.name:'Team Selected'}}</small>
                          </td>

                          <td class="align-middle">
                            <small>
                              <i class="ni ni-align-center mr-1"></i>
                              <strong>
                                {{leads.opportunity.classification?leads.opportunity.classification.classification:''}}
                              </strong>
                            </small><br>
                            <small><i class="ni ni-world mr-1"></i>{{leads.opportunity.source?leads.opportunity.source.source:''}}</small>
                          </td>

                          <td class="align-middle">
                            <small>
                              <i class="ni ni-building mr-1"></i>
                              <strong>{{leads.opportunity.project_info?leads.opportunity.project_info.project_name:'No Project'}}
                              </strong>
                            </small><br>
                            <small *ngIf="leads.information?.product_type==1"><i class="ni ni-paper-diploma mr-1"></i>{{leads.information?.product_type==1?'Residential':''}} ({{leads.information?.product|titlecase}})</small>
                            <small *ngIf="leads.information?.product_type==2"><i class="ni ni-paper-diploma mr-1"></i>{{leads.information?.product_type==2?'Commercial':''}} ({{leads.information?.product|titlecase}})</small>
                          </td>

                          <td class="align-middle">
                            <small><strong>
                              <i class="ni ni-calendar-grid-58 mr-1"></i>
                              {{leads.tasks?(leads.created_at|date:'short'):''}}</strong>
                            </small><br>
                            <small>
                              <i class="ni ni-single-02 mr-1"></i>
                              By : {{leads.created_by?leads.created_by.name:''}}
                            </small>
                          </td>
                     
                        </tr>
                      </ng-container>
                    </ng-container>
                    <ng-template  #notFound>
                      <tr>
                        <td colspan="9" class="text-danger text-center">{{dataNotFound}}...</td>
                      </tr>
                    </ng-template>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        <div class="card-footer">
              <mat-paginator 
                [length]="totalrow" 
                [pageSize]="itemPerPage" 
                [pageSizeOptions]="pageSizeOptions" 
                (page)="pageEvent($event)">
              </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
